*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    position: relative;
    background: url("../imagenes/WhatsApp Image 2026-02-22 at 4.40.11 PM.jpeg") no-repeat center center fixed;
    background-size: cover;
    filter: brightness(0.9);
    min-height: 100vh;
}

main{
    flex: 1;
}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fotoPerfil{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

#subirFoto{
    margin-top: 10px;
}

.perfil{

    display: flex;

    align-items: center;

    gap: 10px;

    cursor: pointer;

    color: white;

    font-weight: bold;

    margin-left: 10px;
}

.panelPerfil{

    display: none;

    position: absolute;

    top: 100px;

    left: 20px;

    background: white;

    padding: 15px;

    border-radius: 15px;

    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

    width: 280px;

    z-index: 1000;
}

.panelPerfil p{

    background: #f2f2f2;

    padding: 10px;

    border-radius: 10px;

    margin-bottom: 10px;

    font-size: 20px;
}
/* .panelPerfil{
    position: relative;
}
 */
.cerrarPanel{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: red;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
}


/* Barra de navegación */
.cabezera {
    display: flex;
    gap: 8rem;
    background-color: rgb(93, 93, 207);
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.cabezera nav.izqui {
    margin-top: 25px;
    display: flex;
    gap: 2rem;
    padding-left: 5rem;
}   
.cabezera nav.dere {
    margin-top: 13px;
    display: flex;
    gap: 2rem;
    padding-left: 15rem;
}

.cabezera a {
    position: relative;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    
}

.cabezera a:hover {
    color: #e31c19;
}

/* Formulario flotante */
.registro-flotante{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1000;
}

.registro-flotante h2{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(93, 93, 207);
}

.registro-flotante h3{
    font-size: 16px;
    margin-top: 10px;
    color: #333;
}

.registro-flotante input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registro-flotante label{
    font-size: 14px;
    color: #555;
}

.registro-flotante button{
    padding: 10px;
    background: rgb(93, 93, 207);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.registro-flotante button:hover{
    background: #e31c19;
}